/* Dashboard Login Dark Theme */
dashboard {
position: relative;
width: 1280px;
height: 720px;

background: #093545;
}

/* Vectors */
vectors {
position: absolute;
width: 1280px;
height: 111px;
left: 0px;
top: 609px;
}


/* Vector */
vector {
position: absolute;
width: 1280px;
height: 111px;
left: 0px;
top: 609px;

background: rgba(32, 223, 127, 0.09);
}

/* Vector */
vector_2 {
position: absolute;
width: 1280px;
height: 111px;
left: 0px;
top: 609px;

background: rgba(229, 229, 229, 0.13);
}
/* Form */
form {
position: absolute;
width: 300px;
height: 406px;
left: 490px;
top: 106px;
}

/* Section Forgot */
forgot_section {
position: absolute;
width: 293px;
height: 17px;
left: 493px;
top: 426px;
}


/* Forgot password? */
forgot_password {
position: absolute;
width: 128px;
height: 17px;
left: 658px;
top: 426px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;

color: #20DF7F;
}


/* Remember me */
remember_me {
position: absolute;
width: 108px;
height: 17px;
left: 518px;
top: 426px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;

color: #FFFFFF;
}

/* Rectangle 1 */
rectangle_1 {
position: absolute;
width: 18px;
height: 17px;
left: 493px;
top: 426px;

background: #224957;
border-radius: 5px;
}

/* Login btn */
login_button {
position: absolute;
width: 300px;
height: 45px;
left: 490px;
top: 467px;
}

/* Rectangle */
rectangle {
position: absolute;
width: 300px;
height: 45px;
left: 490px;
top: 467px;

background: #20DF7F;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
border-radius: 10px;
}

/* login */
login {
position: absolute;
width: 44px;
height: 20px;
left: 618px;
top: 480px;

font-family: 'Lexend Deca';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */
text-align: center;
text-transform: capitalize;

color: #FFFFFF;
}

/* Password */
password {
position: absolute;
width: 300px;
height: 45px;
left: 490px;
top: 358px;
}


/* Rectangle */
rectangle{
position: absolute;
width: 300px;
height: 45px;
left: 490px;
top: 358px;

background: #224957;
border-radius: 10px;
}
/* Password */
password{
position: absolute;
width: 65px;
height: 20px;
left: 511px;
top: 371px;

font-family: 'Lexend Deca';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
text-align: center;

color: #FFFFFF;
}


/* Username */
username{
position: absolute;
width: 300px;
height: 45px;
left: 490px;
top: 281px;
}

/* Rectangle */
rectangle{
position: absolute;
width: 300px;
height: 45px;
left: 490px;
top: 281px;

background: #224957;
border-radius: 10px;
}

/* Login */
login{
position: absolute;
width: 39px;
height: 20px;
left: 508px;
top: 293px;

font-family: 'Lexend Deca';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
text-align: center;

color: #FFFFFF;
}


/* Sign in to access the application */
signin_text{
position: absolute;
width: 252px;
height: 20px;
left: 513px;
top: 225px;

font-family: 'Lexend Deca';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
/* identical to box height */
text-align: center;

color: #FFFFFF;
}


/* Sign in */
signin{
position: absolute;
width: 212px;
height: 80px;
left: 534px;
top: 106px;

font-family: 'Lexend Deca';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 80px;
/* identical to box height */
text-align: center;

color: #FFFFFF;
}


/* Vector */
vector{
position: absolute;
left: 40.86%;
right: 56.56%;
top: 74.44%;
bottom: 20%;

background: #F0FAFE;
}

/* twitter-3 logo */
twitter3{
position: absolute;
width: 42px;
height: 45px;
left: 619px;
top: 536px;
}


/* Vector */
vector {
position: absolute;
left: 0%;
right: 4.76%;
top: 0%;
bottom: 0%;

background: #FFFFFF;
}

/* Vector */
vector {
position: absolute;
left: 17.94%;
right: 22.54%;
top: 23.95%;
bottom: 9.39%;

background: #224957;
}

/* Group 1 */
group1 {
position: absolute;
width: 40px;
height: 45px;
left: 709px;
top: 536px;
}

/* Vector */
vector {
position: absolute;
left: 55.39%;
right: 41.48%;
top: 74.44%;
bottom: 19.31%;

background: #FFFFFF;
}

/* Group 2 */
group2{
position: absolute;
width: 25px;
height: 25px;
left: 717px;
top: 546px;
}


/* Vector */
vector{
position: absolute;
left: 56.02%;
right: 42.03%;
top: 75.83%;
bottom: 20.69%;

background: #224957;
}

/* Vector */
vector {
position: absolute;
left: 56.02%;
right: 42.03%;
top: 75.83%;
bottom: 20.69%;

border: 1px solid #FFFFFF;
}