<html>
   <body>
      <h1>Sign In</h1>
      <h2>Sign in to access the application</h2>
      <form action = "http://localhost:5000/login" method = "post">
         {{ form.csrf_token }}
         <p><input type = "text" name = "username" placeholder="Login" value="{% if 'username' in request.cookies %}{{request.cookies.get('username')}}{% endif %}"/></p>
         <p><input type = "password" name = "password" placeholder="Password" value="{% if 'password' in request.cookies %}{{request.cookies.get('password')}}{% endif %}"/></p>
         <p>
            {% if 'remember_me' in request.cookies %}
               <input type = "checkbox" name = "remember_me" value="Remember" checked type="checkbox"/>
            {% else %}
               <input type = "checkbox" name = "remember_me" value="Remember" type="checkbox"/>
            {% endif %}
            <label for="remember_me">Remember me</label>
            <a href="/forgot_password">Forgot Password?</a>
         </p>
         <p><input type = "submit" value = "Login" /></p>
      </form>
      {%block main%}
      {%endblock%}
   </body>
</html>